<!-- <mat-sidenav-container fullscreen>  
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px'}">    
        <mat-toolbar>      
            <span>Menú</span>      
            <span class="spacer"></span>      
            <button mat-icon-button (click)="sidenav.toggle()">        
                <mat-icon>menu</mat-icon>      
            </button>    
        </mat-toolbar>    
        <mat-nav-list>     
            <mat-list-item        
                *ngFor="let item of sidebarItems"        
                [routerLink]="item.url"        
                (click)="sidenav.toggle()"      
            >        
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>        
                {{ item.label }}      
                </mat-list-item>    
            </mat-nav-list>  
        </mat-sidenav>  
        <mat-toolbar color="primary">    
            <button mat-icon-button (click)="sidenav.toggle()">      
                <mat-icon>menu</mat-icon>    
            </button>    
            <span class="spacer"></span>    
            <button mat-button>      
                Cerrar Sesión    
            </button>  
        </mat-toolbar>  
        <div class="container">    
            <router-outlet></router-outlet>  
        </div>
    </mat-sidenav-container> -->
            
    <mat-sidenav-container class="full-height">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="push" class="sidenav"
    >
    <mat-toolbar class="sidenav-header">
      <span>Menú</span> <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>     </button
      >   
    </mat-toolbar>
       
    <mat-nav-list
      >     
       </mat-nav-list
    > 
  </mat-sidenav>
   
  <!-- Top Navbar --> 
  <mat-toolbar color="primary" class="top-toolbar"
    >   
    <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>   </button
    >    <span class="spacer"></span>   
    <button mat-button class="logout-button">      Cerrar Sesión   </button> 
  </mat-toolbar>
   
  <!-- Contenido Principal --> 
  <div class="container">
        <router-outlet></router-outlet> 
  </div></mat-sidenav-container
>
