<div>
  <h1 class="text-center text-primary mt-3 fw-bold">✈️ Solicitar Vacaciones</h1>
</div>
<div class="container mt-4">
  <form>
    <div class="mb-3">
      <label for="startDate" class="form-label">Fecha de Inicio</label>
      <input type="date" class="form-control" id="startDate">
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">Fecha de Fin</label>
      <input type="date" class="form-control" id="endDate">
    </div>
    <div class="mb-3">
      <label for="comments" class="form-label">Especifique la Solicitud:</label>
      <textarea class="form-control" id="comments" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success w-100">📩 Enviar Solicitud</button>
  </form>
  <a routerLink="/vacaciones" class="btn btn-secondary w-100 mt-3">⬅️ Volver</a>
</div>
